.Categories {
    direction: rtl;
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    overflow-y: scroll;
    background-color: yellow;
}

@media (max-width: 768px) {
    
}