.Categories {
    direction: rtl;
    display: flex;
    flex-direction: column;
    flex: 3;
    position: relative;
    overflow-y: scroll;
    background-color: white;
}

@media (max-width: 768px) {
    
}