@import '../variables.scss';

.CategorySelector {
    direction: ltr;
    cursor: pointer;
    margin: 1vh 0px;
    width: 3.5vw;
    height: 3.5vw;
    background-color: $dark-grey;
    border-radius: 1px;
    align-items: center;
    justify-content: center;  
    user-select: none;
}
.CategoryText {
    color: white;
    font-weight: 800;
    font-size: 1em;
    text-align: center;
    overflow: hidden;
    user-select: none;
}

.Selected {
    border: 5px solid red;
}


@media (max-width: 768px) {
    .CategoryText {
        font-weight: 500;
        font-size: 0.8em;
    }

    .CategorySelector {
        width: 11vw;
        height: 11vw;
    }
    
  }