.CategorySelector {
    direction: ltr;
    display: flex;
    cursor: pointer;
    margin: 5px 10px;
    padding: 10px 5px;
    background-color: black;
    border-radius: 10px;
    align-items: center;
    justify-content: center;  
}
.CategoryText {
    color: white;
    font-weight: 800;
    font-size: large;
    text-align: center;
    overflow: hidden;
}

.Selected {
    color: red;
}