@import '../variables.scss';

.TraitSelector {
    background-color: $light-grey;
    box-sizing: border-box;
    width: clamp(8rem, 10rem, 12rem); ;
    img {
        max-height: 100%;
        max-width: 100%;
    }
    h5 {
        margin: 0.5rem;
        color: white;
    }
}

.selected {
    border: 5px solid red;
}

.RatingContainer {
    background-color: $custom-black;
    padding: 0.2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    p {
       color: #faaf00;
       margin: 0;
       font-size: smaller;
    }
}