.TraitSelector {
    margin: 5px;
    padding: 3px;
    min-width: 60px;
    min-height: 60px;
    max-width: 150px;
    max-height: 150px;
    flex: 1 1 0;
    background-color: gray;
    border: 5px solid transparent;
    img {
        max-height: 100%;
        max-width: 100%;
    }
}

.selected {
    border: 5px solid red;
}