.TraitLayer {
    max-height: 100%;
    max-width: 100%;
    height: inherit;
    width: inherit;
    position: absolute;
    img {
        max-height: 100%;
        max-width: 100%;
        position: absolute;
    }
}