.App {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.Selector {
  display: flex;
  flex: 1;
  height: 100vh;
  overflow: hidden;
}

.Avatar {
  display: flex;
  height: 100vh;
  flex: 1;
  overflow: hidden;
}

@media (max-width: 768px) {
  .App {
    flex-direction: column-reverse;

  }
}