@import './variables.scss';

%ButtonShared {
  display: none;
  background-color: $accent-color;
  color: white;
  margin: 10px 10px;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 1px;
  position: relative;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    background-color: gray;
  }
  &:active {
    background-color: gray;
  }
}

.MainContainer {
  display: block;
  position: absolute;
  bottom:0;
  top:0;
  left:0;
  right:0;
  margin: 5vh 10vw;
  overflow: hidden;
}

.Main {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.heading {
  color: $primary-color;
  margin: 0px 0px;
  margin-right: 1vw;
  font-weight: normal;
  font-size: 1rem;
}

.FilterContainer {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 6vh;
  height: 86%;
  width: 100%;
  // padding: 20px 10px;
}

.SelectorContainer {
  // margin: 20px 10px;
  display: grid;
  grid-template-columns: auto 1fr;
  box-sizing: border-box;
  // padding: 5px;
  overflow: hidden;
}

.settings {
  color: rgb(148, 170, 99);
}

.AvatarHeadingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vh;
}

.AvatarHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  h1 {
    color: $primary-color;
    margin: 0px 0px;
    margin-right: 1vw;
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
  }
}

.AvatarContainer {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
}

.Avatar {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
  flex: 1;
  border: 5px solid $custom-black;
  background-color: $custom-black;
}

.ToolbarContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1;
  align-items: center;
}

.ButtonMint {
  @extend %ButtonShared;
  background-color: $primary-color;
}

.ButtonReset {
  @extend %ButtonShared;
  padding: 0.5rem 0.5rem;
}

@media (max-width: 768px) {
  .MainContainer {
    margin: 5vw;
  }
  .Main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .FilterContainer {
    margin-top: 0vh;
    height: 95%;
  }
}

@media (max-width: 1000px) {
  .MainContainer {
    margin: 2vw;
  }
}