$primary-color: rgb(11, 155, 170);;
$border-dark: rgba($primary-color, 0.88);
$accent-color: rgb(166, 11, 124);
$dark-grey: rgb(112, 112, 122);
$light-grey: rgb(186, 186, 186);
$custom-black: rgb(57, 57, 57);
$shadow: 0 0 5px 5px rgba($light-grey, 0.2)
